*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    line-height: 1;
    font-size: 20px;
}

h3{
    text-align: center;
}

.main-nav{
    list-style: none;
    float: right;
}
.main-nav li{
    display: inline-block;
    margin: 10px;
    z-index: 1000;
}
.main-nav li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    top: 2rem;
    text-transform: capitalize;
    cursor: pointer;
}

.main-nav li a:hover{
    border-bottom: 2px solid rgb(255, 177, 7);
    
}

header{
    height: 100vh;
    background-image: linear-gradient(rgba(22, 17, 17,0.7),rgba(22, 17, 17,0.7)), url(../images/customer-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-text{
    text-align: center;
    color: #fff;
    position: absolute;
    text-transform: capitalize;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-text h3{
    margin: 1rem 1.5rem;
}
.header-text p{
    margin-bottom: 2rem;
}
.btn{
    background: rgb(255, 177, 7);
    color: #fff;
    margin-top: 2.5rem;
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}


/*our team section */
#our-team{
    margin-top: 20px;
}
.our-team{
    
    justify-content:center;
    align-items: center;
    padding: 1.2rem;

}
.team-info{
    color: rgb(163, 157, 157);
    box-shadow: 0 5px 8px 0px rgb(161, 154, 154);
    box-sizing: border-box;
    width: 159px;
}
/*contact section*/
.contact-us{
    display: flex;
    margin-top: 3rem;
    text-transform: capitalize;
    box-sizing: border-box;
    background: #f8f9fa;
    overflow: hidden;
}
#contact{
    background: #f8f9fa;
}
#contact h3{
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
    color: rgb(255, 177, 7);

}
.contact-form{
    background: #fff;
    width: 50%;
    padding: 3rem;
    font-family: "Roboto";
}
.form-control label{
    padding: 0.5rem;
    display: block;
    width: 100%;
}
.form-control input[type="text"], input[type="email"]{
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #000;
}
.form-control textarea{
    border-radius: 20px;
    height: 170px;
    padding: 10px;
    margin: 15px;
}
.form-control textarea:focus{
    border: none;
}
input[type="submit"]{
    border-radius: 30px;
    margin: 15px;
    cursor: pointer;
    background: rgb(255, 177, 7);
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    border: 1px solid rgb(255, 177, 7);
}

.address{
    margin-left: 60px;
    background: #fff;
    padding: 3rem;
}
.address p,a{
    color: rgb(255, 177, 7);
}
.address a{text-decoration: none;}
